Compound(
    [
        Text(
            "lsdfns",
        ),
        Text(
            "lsdkf",
        ),
        Compound(
            [
                Text(
                    "lkjdfjghdfl",
                ),
                Text(
                    "sdjfhsh",
                ),
                Text(
                    "lajdh",
                ),
            ],
        ),
        Compound(
            [
                Text(
                    "skfjhsdjfh",
                ),
                Text(
                    "ksjdfhsj",
                ),
                Text(
                    "slfjhdj",
                ),
                Compound(
                    [
                        Text(
                            "skdjfshd",
                        ),
                        Text(
                            "sdkfjh",
                        ),
                        Text(
                            "dskjfhs",
                        ),
                    ],
                ),
                Text(
                    "selfjsdhf",
                ),
                Text(
                    "sldjkfh",
                ),
            ],
        ),
        Text(
            "sdfhsdfjsh",
        ),
    ],
)
